#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c > #backgroundBox > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  opacity: 1.0;
  background-image: url('../../images/e1c59673-5759-4045-bccd-e17837ec96b6.jpg');
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c > #alignmentBox {
  position: relative;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_4 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_5 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_5 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_14 span#rtr-s-Text_14_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 22.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 22.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 {
  position: absolute;
  width: 247.0px;
  min-height: 95.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 span {
  color: #573A2D;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 {
  position: absolute;
  width: 247.0px;
  min-height: 95.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 span {
  color: #573A2D;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 {
  position: absolute;
  width: 247.0px;
  min-height: 95.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 span {
  color: #573A2D;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 {
  min-height: -1.0px;
}
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 107.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 > .backgroundLayer > .colorLayer {
  background-color: #B38168;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Bg_1 span#rtr-s-Bg_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 {
  position: absolute;
  width: 168.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_15 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 17.5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_15 {
  box-shadow: -0.0px -0.0px 35px 0px #404040;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_33 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 17.5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_33 {
  box-shadow: -0.0px -0.0px 35px 0px #404040;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 {
  position: absolute;
  width: 205.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Title_7 span#rtr-s-Title_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 {
  position: absolute;
  width: 235.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 .valign {
  vertical-align: middle;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Input_5 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 {
  position: absolute;
  width: 72.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #714B39;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #714B39;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #714B39;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #714B39;
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_14 {
  position: absolute;
  width: 88.0px;
  height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_14 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 {
  position: absolute;
  width: 57.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 7.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 7.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 {
  position: absolute;
  width: 168.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 {
  position: absolute;
  width: 168.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 {
  position: absolute;
  width: 168.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 {
  position: absolute;
  width: 168.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 {
  position: absolute;
  width: 168.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 {
  position: absolute;
  width: 230.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 span {
  color: #573A2D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_9 {
  position: absolute;
  width: 229.0px;
  height: 154.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_9 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_9 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #573A2D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #573A2D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #573A2D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #573A2D;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 {
  position: absolute;
  width: 229.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 span {
  color: #573A2D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_1 {
  position: absolute;
  width: 229.0px;
  height: 154.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_1 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_1 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #573A2D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #573A2D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #573A2D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #573A2D;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 {
  position: absolute;
  width: 230.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 span {
  color: #573A2D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #573A2D;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_2 {
  position: absolute;
  width: 229.0px;
  height: 154.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_2 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_2 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #573A2D;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #573A2D;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #573A2D;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #573A2D;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_3 {
  position: absolute;
  width: 80.0px;
  height: 96.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_3 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_6 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_6 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_7 {
  position: absolute;
  width: 100.0px;
  height: 95.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_7 {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 {
  min-height: -1.0px;
}
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 {
  position: absolute;
  width: 1280.0px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #B38168;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_22 {
  position: absolute;
  width: 57.0px;
  height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_22 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 {
  position: absolute;
  width: 100.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 {
  position: absolute;
  width: 19.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 .valign {
  vertical-align: top;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_8 span#rtr-s-textBlock_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 {
  position: absolute;
  width: 140.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #714B39;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #714B39;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #714B39;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #714B39;
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_20 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_20 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_23 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_23 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 {
  position: absolute;
  width: 140.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #714B39;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #714B39;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #714B39;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #714B39;
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 {
  min-height: -1.0px;
}
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_17 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_17 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 {
  position: absolute;
  width: 19.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 .valign {
  vertical-align: top;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-textBlock_7 span#rtr-s-textBlock_7_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 {
  min-height: -1.0px;
}
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 {
  position: absolute;
  width: 1280.0px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 4.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 {
  box-shadow: -0.0px 4.0px 5px 0px #404040;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #B38168;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_18 {
  position: absolute;
  width: 88.0px;
  height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_18 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 {
  position: absolute;
  width: 140.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 span {
  color: #714B39;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 {
  position: absolute;
  width: 140.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #714B39;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #714B39;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #714B39;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #714B39;
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 {
  position: absolute;
  width: 140.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #714B39;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #714B39;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #714B39;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #714B39;
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 span {
  color: #714B39;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #714B39;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_19 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bae5e082-26d3-479f-9f93-f68ae6d0c15c #s-Image_19 {
  box-shadow: none;
}

#s-bae5e082-26d3-479f-9f93-f68ae6d0c15c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
