#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 > #alignmentBox {
  position: relative;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-browserWindow {
  position: absolute;
  width: 1280.0px;
  height: 900.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-browserWindow {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill {
  min-height: -1.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill {
  position: absolute;
  width: 1274.0px;
  min-height: 106.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill .valign {
  vertical-align: middle;
  text-align: center;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill span#rtr-t-fill_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-stroke {
  position: absolute;
  width: 1281.0px;
  height: 107.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-stroke {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 {
  min-height: -1.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 {
  position: absolute;
  width: 43.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Space_1 {
  position: absolute;
  width: 44.0px;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Space_1 {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text {
  position: absolute;
  width: 58.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-copyright_text span#rtr-t-copyright_text_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-privacity_link span#rtr-t-privacity_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_31 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_31 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_10 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_9 {
  position: absolute;
  width: 168.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_9 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 {
  position: absolute;
  width: 229.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 .valign {
  vertical-align: middle;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 input {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 {
  min-height: -1.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 {
  position: absolute;
  width: 68.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 span#rtr-t-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Rectangle_10 span#rtr-t-Rectangle_10_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_26 {
  position: absolute;
  width: 69.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Image_26 {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 {
  min-height: 19.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 {
  position: absolute;
  width: 176.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-textBlock_14 span#rtr-t-textBlock_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url {
  position: absolute;
  width: 149.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url span#rtr-t-web_url_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 {
  position: absolute;
  width: 48.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-web_url_1 span#rtr-t-web_url_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Space {
  position: absolute;
  width: 133.0px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-Space {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-carret_link span#rtr-t-carret_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-home_link span#rtr-t-home_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 {
  position: absolute;
  width: 10.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_1 span#rtr-t-separador_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-compte_link span#rtr-t-compte_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo {
  position: absolute;
  width: 28.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-logo span#rtr-t-logo_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 {
  min-height: -1.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 {
  position: absolute;
  width: 1274.0px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-fill_1 span#rtr-t-fill_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-stroke_1 {
  position: absolute;
  width: 1281.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-stroke_1 {
  box-shadow: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 {
  position: absolute;
  width: 10.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_2 span#rtr-t-separador_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-cistelles_link span#rtr-t-cistelles_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-about_link span#rtr-t-about_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
body #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 {
  min-height: 18.0px;
}
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 {
  position: absolute;
  width: 10.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 .valign {
  vertical-align: top;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-separador_3 span#rtr-t-separador_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}

_:-ms-fullscreen, :root #t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link {
  box-shadow: none;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link .valign {
  vertical-align: middle;
  text-align: left;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 #t-contacte_link span#rtr-t-contacte_link_0 {
  color: #699CFC;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#t-fe0099ed-2f96-44fe-ad69-a5116ed24107 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
